@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.empdashboard {
  display: flex;
  background-color: white;
  color: #333;
}

.empsidebar {
  width: 230px;
  height: 100vh;
  background: #20232a;
  color: #fff;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.empsidebar h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.empsidebar ul {
  list-style: none;
  padding: 1rem;
}

.empsidebar li {
  padding: 15px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 8px;
}

.empsidebar li.active {
  background-color: #0e7996;
}

.empsidebar li:hover {
  background-color: #adbbbf;
  color: #000;
}

/* Main content */
.empmain-content {
  flex: 1;
  padding: 3rem;
  padding-left: 20rem;
  overflow-y: auto;
  background-color: white;
}
